.wrapper {
    justify-items: center;
    vertical-align: middle;
    margin: auto;
    left: 50%;
    color: #5C5C5C;
}
#content-login {
    justify-content: center;
    vertical-align: middle;
    left: 50%;
}
.form-group {
    margin-bottom: 15px;
}
.form-group .row {
    margin-bottom: 15px;
}