#payment-summary-card {
    border: 2px solid #D6D5D5;
    margin-right: 30px;
    margin-bottom: 30px;
    padding: 10px 30px 20px 30px;
}
.order-card {
    border: 1px solid #bfbfbf;
    margin-right: 30px;
    margin-bottom: 30px;
    padding: 5px 30px 20px 5px;
}
td {
    padding-bottom: 20px;
}
.icon-container {
    height: 100%;
    vertical-align: middle;
    padding-top: 50%;
    text-align: center;
}
.icon {
    height: 100%;
}
#textbox {
    text-align: center;
    padding-top: 25%;
}
#textbox h1 {
    letter-spacing: 0.5px;
}
.delete-icon a:link,
.delete-icon a:visited,
.delete-icon a:active {
    text-decoration: none;
    color: #AA042C;
}
.edit-icon a:link,
.edit-icon a:visited,
.edit-icon a:active {
    text-decoration: none;
    color: #D6D5D5;
}
.poster {
    height: 150px;
    vertical-align: middle;
}
.poster-container {
    text-align: center;
    vertical-align: middle;
    padding-top: 10px;
    height: 100%;
}
.hidden-message {
    display: none;
    color: #E1063A;
    font-style: italic;
}
.hidden-message-2 {
    visibility: hidden;
    color: #E1063A;
    font-style: italic;
}